<div class="pages">
  <div class="pages-nav">
    <img src="assets/logo.svg" alt="no logo">
    <div class="pages-routes" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['homepage']">Home</a>
    </div>
    <div class="pages-routes" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['myquestions']">My Questions</a>
    </div>
    <div class="pages-routes" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['profile']">My Profile</a>
    </div>
  </div>
  <div class="pages-nav">
    <span (click)="logout()">Sign Out</span>
  </div>
</div>
<router-outlet></router-outlet>