<div class="pages">
  <div class="pages-nav">
    <a [routerLink]="['/pages/homepage']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Homepage</a>
    <a [routerLink]="['/pages/myquestions']" routerLinkActive="router-link">My Questions</a>
    <a [routerLink]="['/pages/profile']" routerLinkActive="router-link">Profile</a>
  </div>
  <div class="pages-nav">
    <p>Hello, {{currentUser.name}} {{currentUser.lastname}}</p>
    <button (click)="logout()">Log Out</button>
  </div>
</div>
<router-outlet></router-outlet>