<div class="login-page">
  <p>Sign in</p>
  <form class="form login-page-form" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="login-page-input">
      <label>E-MAIL ADDRESS</label>
      <input id="email" name="email" class="form-control" type="email" formControlName="email" [email]="true" required>

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger login-page-input-close">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.email">
          Enter valid email address.
        </div>
        <div class="login-page-input-close-button" (click)="closeValidationInfo(email)">X</div>
      </div>
    </div>

    <div class="login-page-input">
      <label>PASSWORD</label>
      <input id="password" name="password" class="form-control" type="password" formControlName="password" required>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger login-page-input-close">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div class="login-page-input-close-button" (click)="closeValidationInfo(password)">X</div>
      </div>
    </div>

    <div class="login-page-buttons">
      <button class="btn btn-primary" type="submit">Sign in</button>
      <a [routerLink]="['/register']">Register</a>
    </div>

  </form>

  <div *ngIf="loginFailed" class="alert alert-danger">
    Email or password invalid!
  </div>

</div>