<div class="register-page">
  <p>Create Your Account</p>
  <form class="form register-page-form" [formGroup]="registerForm" (ngSubmit)="register()">

    <div class="register-page-input">
      <label>NAME</label>
      <input id="name" name="name" class="form-control" type="text" formControlName="name" required>

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger register-page-input-close">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div class="register-page-input-close-button" (click)="closeValidationInfo(name)">X</div>
      </div>
    </div>

    <div class="register-page-input">
      <label>LASTNAME</label>
      <input id="lastname" name="lastname" class="form-control" type="text" formControlName="lastname" required>

      <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger register-page-input-close">
        <div *ngIf="lastname.errors.required">
          Lastname is required.
        </div>
        <div class="register-page-input-close-button" (click)="closeValidationInfo(lastname)">X</div>
      </div>
    </div>

    <div class="register-page-input">
      <label>EMAIL</label>
      <input id="email" name="email" class="form-control" type="email" formControlName="email" [email]="true" required>

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger register-page-input-close">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.email">
          Enter valid email address.
        </div>
        <div class="register-page-input-close-button" (click)="closeValidationInfo(email)">X</div>
      </div>
    </div>

    <div class="register-page-input">
      <label>PASSWORD</label>
      <input id="password" name="password" class="form-control" type="password" formControlName="password" required>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger register-page-input-close">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be atleast 5 characters long.
        </div>
        <div class="register-page-input-close-button" (click)="closeValidationInfo(password)">X</div>
      </div>
    </div>

    <div class="register-page-buttons">
      <button class="btn btn-primary" type="submit">Register</button>
      <a [routerLink]="['/login']">Back to Login</a>
    </div>

  </form>

  <div *ngIf="registerFailed" class="alert alert-danger register-page-invalid">
    <div>Enter all informations!</div>
    <div class="register-page-invalid-button" (click)="reset()">X</div>
  </div>

</div>