<div *ngIf="questions" class= "list-questions">
  <div *ngFor="let question of questions" class="list-questions-widget">
    <div class="list-questions-widget-info" routerLink="/pages/question/{{question.id}}">
      <p class="list-questions-widget-info-user">{{question.user}}</p>
      <p class="list-questions-widget-info-message">{{question.message}}</p>
    </div>
    <hr>
    <div class="list-questions-widget-likes">
      <span class="list-questions-widget-likes-item" (click)="updateQuestionsInfo(question, 'liked')">
        <img src="assets/love-up{{thisUserLikedQuestion(question)}}.svg" alt="like">Like
      </span>
      <span class="list-questions-widget-likes-item" (click)="updateQuestionsInfo(question, 'disliked')">
        <img src="assets/love-down{{thisUserDislikedQuestion(question)}}.svg" alt="dislike">Dislike
      </span>
      <span class="list-questions-widget-likes-item" [style.color]="setRatingColor(getRating(question))">{{getRating(question)}}</span>
    </div>
  </div>
</div>