<div class="homepage">
  <textarea placeholder="Enter new question..." name="message" [(ngModel)]="message"></textarea>
  <button (click)="createQuestion(message)">Comment</button>
  <div class="homepage-nav">
    <span class="homepage-nav-item" (click)="getLatestQuestions(false)">Latest questions</span>
    <span class="homepage-nav-item" (click)="getMostViewedQuestions(false)">Most viewed questions</span>
    <span class="homepage-nav-item" (click)="getHotQuestions(false)">Hot questions</span>
  </div>
  <app-list-questions [questions]="questionsObservable | async"></app-list-questions>
  <button *ngIf="questions.length>=20 && currentFeed" (click)="loadMore(currentFeed)">Load More</button>
</div>